:root {
  --primary-color: #8A4FFF;
  --secondary-color: #D57EEB;
  --background-color: #FFFFFF;
  --box-shadow-color: rgba(138, 79, 255, 0.3);
  --accent-color: #B388FF;
  --placeholder-color: white;
  --text-color: #FFFFFF;
  --light-background-color: #F3EFFF;
  --dark-text-color: #555555;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.messages, .join_room {
  background-color: var(--background-color);
  border-radius: 12px;
  box-shadow: 0 8px 16px var(--box-shadow-color);
  position: absolute;
  top: 15%;
  max-width: 600px;
  padding: 20px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fade-in 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input {
  background: linear-gradient(to bottom, var(--accent-color), var(--primary-color));
  background-size: 100% 200%;
  transition: background-position 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: var(--accent-color);
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 16px var(--box-shadow-color);
  color: var(--text-color);
  font-size: 16px;
  padding: 12px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

input:focus {
  outline: none;
  background-position: 0 -100%;
  box-shadow: 0 0 0 2px var(--text-color);
}

input::placeholder {
  color: var(--placeholder-color);
}

.messages p:first-child {
  font-weight: bold;
  margin: 10px 0;
}

.messages p {
  background-color: var(--light-background-color);
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: var(--dark-text-color);
  word-wrap: break-word;
}