* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #D57EEB, #8A4FFF);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.messages, .join_room {
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(138, 79, 255, 0.3);
  position: absolute;
  top: 15%;
  max-width: 600px;
  padding: 20px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fade-in 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

input {
  background: linear-gradient(to bottom, #B388FF, #7C4DFF);
  background-size: 100% 200%;
  transition: background-position 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #B388FF;
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(138, 79, 255, 0.3);
  color: #FFFFFF;
  font-size: 16px;
  padding: 12px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

input:focus {
  outline: none;
  background-position: 0 -100%;
  box-shadow: 0 0 0 2px #FFFFFF;
}

input::placeholder {
  color: white;
}

.messages p:first-child {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.messages p {
  background-color: #F3EFFF;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #555555;
}

/* 
.messages {
  animation: bounce 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
*/

@keyframes bounce {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}