{% extends 'layout.html' %}
{% block title %}Join Room | {{ super() }}{% endblock %}

{% block content %}
    <div class="join_room">
        <input placeholder="Join Room" id="joinRoomInput" />
    </div>

    <script>
        let joinRoomInput = document.getElementById("joinRoomInput");
        joinRoomInput.addEventListener("keypress", (e) => {
            if (e.which === 13) {
                window.location.replace("/message/" + joinRoomInput.value);
            }
        })
    </script>

    <script src="" async defer></script>
{% endblock %}
