{% extends 'layout.html' %}
{% block title %}{{ room_name }} | {{ super() }}{% endblock %}

{% block content %}
    <div class="messages">
        <input placeholder="Message" id="messageInput" />
    </div>

    <script>
        // Create socket
        const socket = io();

        // Connect to room
        socket.on("connect", () => {
            socket.emit("join", "{{ room_name }}");
        })

        // Send message
        let messageInput = document.getElementById("messageInput")
        messageInput.addEventListener("keypress", (e) => {
            if (e.which === 13) {
                socket.emit("message", messageInput.value);
                messageInput.value = "";
            }
        });

        // Recieve message
        let messageContainer = document.querySelector(".messages");
        socket.on("message", (message) => {
            let messageElement = document.createElement("p");
            messageElement.innerText = message;
            messageContainer.appendChild(messageElement);
            messageContainer.lastChild.before(messageElement);
            console.log(messageContainer.firstChild);
        })
    </script>
{% endblock %}
